body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    padding: 20px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

#cadastrar-paciente {
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilo para o campo de quantidade de dias */
#campo-quantidade-dias {
    margin-top: 10px;
}

/* Estilo para limitar o tamanho do campo de data da consulta */
.data-consulta-container {
    width: 40%;
}

#data-consulta {
    width: 100%;
} 